<html>
  <body>
    <h1>Choose the stock you want</h1>
    <form action="/graph" method="GET">
      <h5>Stock Ticker</h5> <br>
      <input name="stock"><br>
      <h5>Choose a value for the price shown</h5><br>
      <input type="radio" name="index" value="1" /> Open<br>
      <input type="radio" name="index" value="2" /> High<br>
      <input type="radio" name="index" value="3" /> Low<br>
      <input type="radio" name="index" value="4" /> Close<br>
      <input type="submit">
    </form>
  </body>
</html>
